.menu-list {
    width: 228px;
    padding: 5px;
}
.custom {
    width: 100%;

    &:hover {
        background-color: #f1f1f1;
        border-radius: 5px;
    }
}
.custom {
    justify-content: left;
    align-items: start;
}
.custom + .custom {
    margin-left: 0;
}
.header {
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 6px;
    width: 100%;
    cursor: pointer;
    & span {
        margin-right: 16px;
    }
    & header {
        font-weight: 400;
        font-size: 1.6rem;
    }
}
